<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kev Dev Administrator</title>
    <link rel="stylesheet" href="./login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../contollers/banner/banner.js">
</head>

<body>
    <main class="main-container">
        <section class="hero">
            <img class="hero-image" src="../../assets/img/hero.svg" alt="">
        </section>
        <section class="singIn">
            <section class="singIn-container">
                <h2 class="header-two">Sing In</h2>
                <hr>
                <form class="singIn-form">
                    <label class="label">Username:</label>
                    <input class="input" type="">
                    <label class="label">Password:</label>
                    <input class="input" type="password">
                    <button class="button">Sing In</button>
                </form>
            </section>
        </section>
    </main>
</body>

</html>