<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
    <link rel="stylesheet" href="../../css/login/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

</head>

<body>
    <main class="main-container">
        <section class="hero">
            <img class="hero-image" src="../../assets/img/hero.svg" alt="">
        </section>
        <section class="singIn">
            <section class="singIn-container">
                <h2 class="header-two">Sing In</h2>
                <hr>
                <form class="singIn-form">
                    <label class="label">Username:</label>
                    <input class="input" type="">
                    <label class="label">Password:</label>
                    <input class="input" type="password">
                    <button class="button">Sing In</button>
                </form>
            </section>
        </section>
    </main>
</body>

</html>