<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <header class="header">
<nav class="nav">
    <ul class="nav-container">
        <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Team</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Billing</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Project</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Reports</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
    </ul>
</nav>
    </header>
</body>
</html>