<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <img class="nav-icon" src="../../assets/img/icon.svg" />
            <ul class="nav-container">
                <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Billing</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Project</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Reports</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
            </ul>
            <ul class="nav-social-container">
                <li class="nav-social-item nav-item-img"><a class="nav-social-icon-config" href=""></a></li>
                <li class="nav-social-item nav-item-img"><a class="nav-social-icon-document" href=""></a></li>
                <li class="nav-social-item nav-item-img"><a class="nav-social-icon-bell" href=""></a></li>
                <li class="nav-social-item nav-item-img"><a class="nav-social-icon-mail" href=""></a></li>
                <li class="nav-social-item nav-item-img no-bkg"><a class="nav-social-icon-profile" href=""></a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <main class="main">

            <aside class="aside">
                <ul class="aside-control">
                    <li class="aside-control-item"><a class="aside-control-link user" href=""></a></li>
                    <li class="aside-control-item"><a class="aside-control-link doc" href=""></a></li>
                    <li class="aside-control-item"><a class="aside-control-link mail" href=""></a></li>
                </ul>
            </aside>

            <div class="content">
                <div class="users">
                    <div class="user-card"></div>
                    <div class="user-card"></div>
                    <div class="user-card"></div>
                    <div class="user-card"></div>
                </div>
    
                <section class="chart">
                    <div class="ct-chart chart-graphic"></div>
                </section>
            </div>
        </main>
    </div>
</body>
<script src="../../libs/chart/chart.js"></script>

</html>