:root {
    --primary-color: #443d9d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 6.25%;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #b2b6c51c;
}

.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 75rem;
    background-color: var(--primary-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;    
}

.nav-icon {
    width: 45rem;
    border-radius: 45rem;
    margin-left: 50rem;
}

.nav-item {
    margin: 0 15rem;
    padding: 10rem;
    border-radius: 10rem;
}

.nav-item:hover {
    background-color: #f1e9e933;
}

.nav-link {
    font-size: 12rem;
    font-weight: 600;
    color: #aaaaaa;
    opacity: 0.9;
}

.nav-link:hover {
    color: white;
}

.nav-social-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 50rem;
}

.nav-item-img {
    margin: 0 5rem;
    padding: 10rem;
    border-radius: 10rem;
}

.nav-social-icon-config {
    display: inline-block;
    width: 25rem;
    height: 25rem;
    background-image: url('../../assets/img/icon-one.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-social-icon-document {
    display: inline-block;
    width: 25rem;
    height: 25rem;
    background-image: url('../../assets/img/icon-two.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-social-icon-bell {
    display: inline-block;
    width: 25rem;
    height: 25rem;
    background-image: url('../../assets/img/icon-three.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-social-icon-mail {
    display: inline-block;
    width: 25rem;
    height: 25rem;
    background-image: url('../../assets/img/icon-four.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-social-icon-profile {
    display: inline-block;
    width: 25rem;
    height: 25rem;
    background-image: url('../../assets/img/profile-pic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50rem;
}

.no-bkg {
    background-color: transparent;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;    
}

.main {
    display: flex;
    align-items: center;    
    width: 100%;
    height: 89vh;
    background-color: #b2b6c51c;    
}

.aside {
    display: flex;
    align-items: center;
    height: auto;
    min-width: 5%;
    margin-left: 20rem;
    padding: 15px 0;
    background-color: white;
    border-radius: 20rem;
    box-shadow: -4rem 3rem 5rem 1rem rgba(0, 0, 0, 0.28);    
}

.aside-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;    
}

.aside-control-item {
    margin: 10rem 0;
    padding: 15rem;
    border-radius: 50rem;
}

.aside-control-item:hover {
    background-color: #84868f1c;
}

.user {
    display: block;
    width: 35rem;
    height: 35rem;
    background-image: url('../../assets/img/user-icon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.doc {
    display: block;
    width: 35rem;
    height: 35rem;
    background-image: url('../../assets/img/doc-icon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mail {
    display: block;
    width: 35rem;
    height: 35rem;
    background-image: url('../../assets/img/mail-icon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    padding: 0 15rem;
    border: blue 1px solid;
}

.chart-graphic {
    width: 100%;
    height: inherit;
    padding: 25rem;
    border-radius: 25rem;
    background-color: white;
    
}

.users {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 30%;
    margin: 15px 0;
    border-radius: 25rem;    
    border: red 1px solid;

}

.user-card{
    width: 15%;
    height: 70%;
    border-radius: 25rem;
    background-color: white;
    border: green 1px solid;
}

/* Tablet */

@media only screen and (max-width: 950px) {
    .wrapper {
        padding: 0;
    }
    .nav-container {
        display: none;
    }
    .nav {
        justify-content: center;
        align-items: center;
    }
    .nav-item-img {
        margin: 0 3rem;
    }
    .main {
        flex-direction: column;
    }
    .chart {
        align-items: center;
        justify-content: center;
        width: 100%;        
        height: 200rem;
    }
    .aside {
        width: auto;
        margin: 10rem;
        padding: 0;
        height: 15%;
    }
    .aside-control {
        flex-direction: row;
    }
}