<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main/main.css">
    <!-- <link rel="stylesheet" href="../header/header.css"> -->
    <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
    rel="stylesheet">
    <title>Header</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <img class="nav-icon" src="../../assets/img/icon.svg" />
            <ul class="nav-container">
                <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Header</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Exchange</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Product</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Plans</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Footer</a></li>
            </ul>
            <ul class="nav-social-container">
                <li class="nav-social-item nav-item-img"><a class="nav-social-icon-config" href=""></a></li>
                <li class="nav-social-item nav-item-img"><a class="nav-social-icon-document" href=""></a></li>
                <li class="nav-social-item nav-item-img"><a class="nav-social-icon-bell" href=""></a></li>
                <li class="nav-social-item nav-item-img"><a class="nav-social-icon-mail" href=""></a></li>
                <li class="nav-social-item nav-item-img no-bkg"><a class="nav-social-icon-profile" href=""></a></li>
            </ul>
        </nav>
    </header>

    <main class="main-container">

        <section class="form">

        </section>

    </main>
    
</body>
</html>